<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="public/styles/erro.css">
    <title>Página não encontrada</title>
</head>
<body>
    <div class="content">
        <h1>Erro<img id="imagem" src="public/images/404.png" alt="Erro 404"></h1>
        <p>A página que você está procurando não foi encontrada.</p>
        
    </div>
    
</body>
</html>