<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="public/styles/home.css">
    <title>Bons Fluídos - Projeto Absorventes</title>
</head>
<body>

<div class="container pt-5">
    <div class="alert alert-info" role="alert">
        <h4 class="alert-heading">Bons Fluídos - Projeto Absorventes</h4>
        <p>
            Bem-vindo ao Bons Fluídos, um projeto dedicado a fornecer absorventes gratuitos para meninas em situações precárias. 
            A menstruação é uma parte natural da vida, no entanto, milhões de pessoas em todo o mundo enfrentam desafios significativos 
            devido à falta de acesso a itens de cuidados menstruais.
        </p>
    </div>

    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Algumas estatísticas impactantes:</h5>
            <ul>
                <li>1.8 bilhões de pessoas menstruam em todo o planeta.</li>
                <li>4 milhões de pessoas não têm acesso a itens de cuidados menstruais.</li>
                <li>713 mil pessoas que menstruam vivem sem acesso a banheiro em casa.</li>
                <li>25% de estudantes no Brasil deixam de ir à escola por não terem absorvente.</li>
                <li>Estudantes no Brasil perdem em média 45 dias durante o ano letivo devido à falta de acesso a itens corretos para conter a menstruação.</li>
            </ul>
        </div>
    </div>

    <div class="card mt-3">
        <div class="card-body">
            <h5 class="card-title">O que fazemos no Bons Fluídos:</h5>
            <p class="card-text">
                No Bons Fluídos, buscamos combater esses desafios, promovendo a conscientização e fornecendo absorventes gratuitos para 
                garantir que as meninas possam enfrentar sua menstruação com dignidade e sem obstáculos ao acesso à educação.
            </p>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>
</html>
