<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Serif+Pro:400,600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="fonts/icomoon/style.css">
    <link rel="stylesheet" href="public/styles/owl.carousel.min.css">
    <link rel="stylesheet" href="public/styles/bootstrap.min.css">
    <link rel="stylesheet" href="public/styles/style.css">
    <title>Bons Fluídos - Seleção de meninas</title>
  </head>
  <body>
    <aside class="sidebar">
      <div class="toggle">
        <a href="#" class="burger js-menu-toggle" data-toggle="collapse" data-target="#main-navbar">
              <span></span>
            </a>
      </div>
      <div class="side-inner">

        <div class="logo-wrap">
          <div class="logo">
            <span>B</span>
          </div>
          <span class="logo-text">Bons Fluídos</span>
        </div>
        
        <div class="nav-menu">
          <ul>
            <li id="home"><a href="/views/home.handlebars" class="active d-flex align-items-center"><span class="wrap-icon icon-home2 mr-3"></span><span class="menu-text">Home</span></a></li>
            <li id="cadastro"><a href="/views/cadastro.handlebars" class="d-flex align-items-center ml-1"><span class="wrap-icon icon-user mr-3"></span><span class="menu-text">Cadastro</span></a></li>
            <li id="selecao"><a href="/views/selecao.handlebars" class="d-flex align-items-center"><span class="wrap-icon icon-book mr-3"></span><span class="menu-text">Seleção</span></a></li>
          </ul>
        </div>
      </div>
      
    </aside>
    <main>
    </main>
    <script src="public/javascripts/jquery-3.3.1.min.js"></script>
    <script src="public/javascripts/popper.min.js"></script>
    <script src="public/javascripts/bootstrap.min.js"></script>
    <script src="public/javascripts/main.js"></script>
  </body>
</html>
