<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Example App - Home</title>
    <link rel="stylesheet" href="public/styles/style-login.css">
</head>
<body>
    <div class="login-container">
        <h2>Login</h2>
        <form id="login-form" method="post" action="/login">
            {{#if error}}
                <p style="color: red;">{{error}}</p>
            {{/if}}       
            <div class="form-group"> 
                <label for="username">Usuario:</label>
                <input type="text" id="usuario" name="usuario" required>
            </div>
            <div class="form-group">
                <label for="password">Senha:</label>
                <input type="password" id="senha" name="senha" required>
            </div>
            <button type="submit">Login</button>
            ou
            <button type="button" onclick="goToRegister()">Registrar-se</button> 
        </form>
    </div>
</body>
<script src="/public/javascripts/autenticador.js"></script>
</html>
