<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="public/styles/selecao.css">
    <title>Lista de Meninas</title>
</head>
<body>

<div class="container pt-5">
    <h2>Lista de Meninas</h2>
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th scope="col">Nome</th>
                <th scope="col">Idade</th>
                <th scope="col">Renda Per Capita</th>
                <th scope="col">Cidade</th>
            </tr>
        </thead>
        <tbody id="table-body">
            <tr>
                <td>Colocado</td>
                <td>dinamicamente</td>
                <td>com</td>
                <td>JS!</td>
            </tr>
        </tbody>
    </table>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>
</html>
